body{
	background-color: #f78e69;
	color: white;
	position:absolute;
}
.head-part{
	padding-bottom: 0;
	
}	
.title{
	font-family: "Roboto";
	font-size: 50px;
	text-align: right;
	padding: 45px 10px 10px 10px;
}

.sub-title, .finale{
	font-family: "Roboto";
	text-align: right;
	padding-top: 15px;
	padding-right: 10px;
}

.ima{
	padding: 0;
}
.panda-main{
	width: 100%;
	padding: 30px 0px;
	filter: grayscale(100%);
	height:550px;
    object-fit:cover;
}
.panda-about, .panda-pic{
	width: 100%;
	padding: 30px 0px;
	filter: grayscale(100%);
	height:900px;
    object-fit:cover;
}
.about-pandas, .picture-pandas{
	background-color:#abe188;
}

.about-pan{
	background-color: #f78e69;
	margin: 70px 0;
}
.about, .picture{
	font-family: "Roboto";
	font-size: 30px;
	text-align: center;
	margin: 30px 0;
	line-height: 25px;

}
.parra-about{
	font-family: "Roboto";
	text-align: center;
	margin: 30px 0;
	line-height: 25px;

}

.title-pic{
	margin-top: 40px;
}
.pic{
	border: 10px solid white;
	margin-bottom: 50px;
}
.panda-pic{
	width: 100%;
	padding: 30px 0px 0px 0px;
	filter: grayscale(100%);

}

.end-pandas{
	padding:0px 0px 10px 0px;
}
