.yellow {
	background-color: orange;
	display: inline-block;
	margin: 15px;
}
.grey {
	background-color: grey;
	display: inline-block;
	margin: 15px;

}
h4{
	padding: 0.2em;
	margin:0.2em;
}
.blanco{
	color: white;
}